appnope
beautifulsoup4
chardet
cssselect
decorator
docopt
gnureadline
httpie
ipykernel
ipython
jieba
Jinja2
jsonschema
MarkupSafe
mistune
nltk
nose
pandas
pickleshare
Pillow
pquery
ptyprocess
Pygments
pyparsing
pyquery
PyReadability
python-dateutil
pytz
pyzmq
requests
scikit-learn
-e git+https://github.com/scrapy/scrapely.git@39e7d2c7f9d7a36ecf879623093d53130c56e15d#egg=Package
seaborn
SQLAlchemy
terminado
tornado
traitlets
bokeh
scipy
sympy
matplotlib 
ipython[notebook]
