appnope
beautifulsoup4
chardet
cssselect
decorator
docopt
gnureadline
httpie
ipykernel
ipython
ipython-genutils
jieba
Jinja2
jsonschema
jupyter-client
jupyter-core
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nltk
nose
notebook
numpy
pandas
path.py
pexpect
pickleshare
Pillow
pquery
ptyprocess
Pygments
pyparsing
pyquery
PyReadability
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
-e git+https://github.com/scrapy/scrapely.git@39e7d2c7f9d7a36ecf879623093d53130c56e15d#egg
seaborn
simplegeneric
six
SQLAlchemy
sympy
terminado
tornado
traitlets
w3lib
wheel
